# Dependencies
node_modules
dist
dist-ssr
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor
android/.gradle/
android/app/build/
ios/App/Pods/
